
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



.navbar {
    background-color: #007bff;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0056b3;
}

body, h1, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.artist-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.artist-table th, .artist-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.artist-table th {
    background-color: #007bff;
    color: #fff;
}

.artist-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.artist-table {
    width: 100%;
    border-collapse: collapse;
}

.artist-table th,
.artist-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.artist-id {
    width: 10%;
}

.artist-name {
    width: 30%;
}

.artist-email {
    width: 60%;
}
